@using SoulShop.Model;
@{
    Layout = "~/Areas/Shop/Views/Shared/_ShopNavView.cshtml";

    string shopID = ViewBag.shopID;   

    List<T_Base_ShopProduct> listShopProduct = ViewBag.listShopProduct;
    T_Base_Product product = ViewBag.product;

    string size = ViewBag.size;
    string color = ViewBag.color;

    List<string> listSize = ViewBag.listSize;
    List<string> listColor = ViewBag.listColor;

    List<T_Product_Comment> listProductComment = ViewBag.listProductComment;
}

@section css{
    <title>详情页</title>
    <link href="~/Areas/Shop/MyCSS/Detail/Comment.css" rel="stylesheet" />
    <link href="~/Areas/Shop/MyCSS/Detail/Detail.css" rel="stylesheet" />
    <script src="~/Areas/Shop/MyJS/Detail/Detail.js"></script>
    <style>
    </style>
}

<div class="init-data" data-productsize="@size" data-productcolor="@color" data-productid="@product.ID" data-shopid="@shopID"></div>

<!--商品主要信息-->
<div class="container container-lowlg-width-p100 container-lowlg-nop main-info-wrap">
    <div class="row m-0 justify-content-center align-items-center no-gutters">
        <div class="main-info-img col-11 col-sm-8 col-md-6 col-lg-5 pr-lg-2 pl-lg-2">
            <div class="main-info-bigimg">
                <img src="/Image/Main/img-sales5.jpg" />
            </div>
            <img class="main-info-smallimg-arrow main-info-smallimg-arrow-left" src="~/Icon/Detail/右箭头.png">
            <img class="main-info-smallimg-arrow main-info-smallimg-arrow-right" src="~/Icon/Detail/左箭头.png">    
            <div class="main-info-smallimg">      
                @foreach (T_Base_ShopProduct item in listShopProduct)
                {
                    foreach (T_ShopProduct_Pic itemPic in item.PicList)
                    {
                        <div class="img-outter-wrap" data-size="@item.Size" data-color="@item.Color">
                            <div class="img-inner-wrap" style="width: 100%; height: 100%; overflow: hidden;">
                                <img src="@itemPic.Path" />
                            </div>
                        </div>
                    }
                }            
            </div>              
        </div>
        <div class="main-info-p col-12 col-lg-7 mt-3 mt-lg-0 pr-sm-4 pl-sm-4 pr-lg-2 pl-lg-2">
            <div class="card">
                <div class="card-block">
                    <p class="main-info-title text-oneline-overhidden"><span class="my-title-12">@product.Name</span></p>
                    <img class="chat-with-me" src="~/Icon/NavView/消息.png"/>
                    <p class="main-info-description card-text text-oneline-overhidden">@product.Description</p>
                    <div class="main-info-description-all"> @product.Description</div>
                    <!--价格-->
                    <div class="main-info-price">
                        <span>价格：</span><span class="red-price">￥99</span>
                    </div>
                    <!--运费-->
                    @*<div class="main-info-freight">
                        <span>运费：杭州&nbsp;至&nbsp;</span><span class="arrive-city">龙泉&nbsp;</span><span>&nbsp;快递：0.00</span>
                    </div>*@
                    <!--销售信息-->
                    <div class="main-info-saleinfo row text-center">
                        <div class="col-6 text-oneline-overhidden main-info-monthsale-show">月销量&nbsp;<span>99</span></div>
                        <div class="col-6 text-oneline-overhidden">累计评价&nbsp;<span>99</span></div>
                    </div>
                    <!--商品规格与数量-->
                    <div class="main-info-style">
                        <div class="main-info-size">
                            <div>规格</div>
                            @foreach (string item in listSize)
                            { 
                                <div>@item</div>
                            }
                        </div>
                        <div class="main-info-color">
                            <div>颜色分类</div>
                            @foreach (string item in listColor)
                            {
                                <div>@item</div>
                            }
                        </div>
                        <div class="main-info-count">
                            <div>数量</div>
                            <div class="input-group mr-1" style="width: 7rem;"><input id="nowInputAmount" class="form-control" type="number" value="1" /><div class="input-group-addon">件</div></div>
                            <div class="main-info-count-show ml-3">库存 0件</div>
                            <div id="mainInfoCountData" style="display:none">
                                @foreach (T_Base_ShopProduct item in listShopProduct)
                                {
                                    <div class="main-info-count-data" data-size="@item.Size" data-color="@item.Color" data-monthsale="@item.MonthlySale" data-stock="@item.Stock" data-price="@item.Price"></div>
                                }
                            </div>
                        </div>
                    </div>
                    <!--按钮组-->
                    <div class="main-info-btngroup row m-0 text-center justify-content-around">
                        <div class="col-12 col-sm-5 mb-2 mb-sm-0 btn btn-info join-shopcar detail-product-btn" style="background-image: url(/Icon/Detail/购物车1.png);">加入购物车</div>
                        <div id="collectBtn" class="col-12 col-sm-5 btn btn-info detail-product-btn" style="background-image: url('/Icon/Detail/收藏1.png');">收藏商品</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--商品评论-->
<div class="container container-lowlg-width-p100 container-lowlg-nop comment-wrap mt-3 mt-md-5">
    <div id="productCommentWrap" class="row no-gutters">

    </div>
    <div class="more-btn-wrap mt-3" style="display: none;">
        <a id="moreBtn" href="#" class="more-btn btn btn-outline-secondary">更多</a>
    </div>
</div>
