@using SoulShop.Model;
@{
    Layout = "~/Areas/Shop/Views/Shared/_ShopNavView.cshtml";
    List<T_Base_ShopProduct> listShopProduct = ViewBag.listShopProduct;
    List<T_Base_ProductCategory> listProductCategory = ViewBag.listProductCategory;
}

@section css{
    <title>主页</title>
    <link href="~/Areas/Shop/MyCSS/Main/Main.css" rel="stylesheet" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=M1mt3fUZntsnljyuaZ4mBVN0qtNgwgOe"></script>
    <script src="~/Areas/Shop/MyJS/Main/BaiduMap.js"></script>   
    <script src="~/Areas/Shop/MyJS/Main/Main.js"></script>
    <style>
    </style>
}

<!--工具栏-->
<div class="container top-tools-wrap container-lowlg-width-p100">
    <button id="MapBtn" class="btn btn-outline-info" data-toggle="modal" data-target="#MapModel">定位</button>
    <div class="btn btn-info map-now-area-text" style="background-color:#8fcafe; border-color:#8fcafe">定位中...</div>
    <!--Model-->
    <div class="modal fade" id="MapModel" tabindex="-1" role="dialog" aria-labelledby="MapModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="MapModelLabel">定位</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span a-ria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="map-tools pb-3 row" style="">
                        <div class="col-6 row no-gutters justify-content-between">
                            <input id="MapCitySearchInput" type="text" class="form-control" style="display: inline-block; width: clas" />
                            <div id="MapCitySearchBtn" class="btn btn-info">
                                <img src="/Icon/NavView/search-fff.png" style="width: 1.25rem; height: 1.25rem; display: block; margin: 0 auto">
                            </div>
                            <div class="citys-wrap">
                                <div class="list-group">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 row no-gutters">
                            <div id="MapCurrentProvince">北京市</div>
                            <div id="MapCurrentCity" class="col-12 text-oneline-overhidden">北京市</div>
                            <div id="MapCurrentCP">北京市-北京市</div>
                        </div>
                    </div>
                    <div id="soulMap" style="width: 100%;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info">确定</button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--部分一：广告-->
<div class="container one-wrap container-lowlg-width-p100 container-lowlg-nop">
    <!--分类列表-->
    <div class="one-classification list-group">
        <a href="/Shop/Shop/ProductList?productType=1" class="list-group-item" style="background-image: url(/Text/NavView/传统美食.png)"><img class="class-icon" src="/Icon/Main/美食.png" /></a>
        <a href="/Shop/Shop/ProductList?productType=2" class="list-group-item" style="background-image: url(/Text/NavView/特色生鲜.png)"><img class="class-icon" src="/Icon/Main/水果.png" /></a>
        <a href="/Shop/Shop/ProductList?productType=3" class="list-group-item" style="background-image: url(/Text/NavView/养生补品.png)"><img class="class-icon" src="/Icon/Main/人参.png" /></a>
        <a href="/Shop/Shop/ProductList?productType=4" class="list-group-item" style="background-image: url(/Text/NavView/木制工艺.png)"><img class="class-icon" src="/Icon/Main/树.png" /></a>
        <a href="/Shop/Shop/ProductList?productType=5" class="list-group-item" style="background-image: url(/Text/NavView/金属工艺.png)"><img class="class-icon" src="/Icon/Main/金属.png" /></a>
        <a href="/Shop/Shop/ProductList?productType=6" class="list-group-item" style="background-image: url(/Text/NavView/陶制工艺.png)"><img class="class-icon" src="/Icon/Main/陶艺.png" /></a>
        <a href="/Shop/Shop/ProductList?productType=7" class="list-group-item" style="background-image: url(/Text/NavView/珠宝玉器.png)"><img class="class-icon" src="/Icon/Main/钻石.png" /></a>
    </div>
    <!--广告区1-->
    <div class="one-ad" style="perspective:1000px; transform-style: preserve-3d;">
        <div id="MainCarouse" class="carousel slide" data-ride="carousel" data-interval="false" data-nowrotateY="0" data-nowrotateX="0">
            <ol class="carousel-indicators">
                <li data-target="#MainCarouse" data-slide-to="0" class="active"></li>
                <li data-target="#MainCarouse" data-slide-to="1"></li>
                <li data-target="#MainCarouse" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block" src="/Image/Cover/bg2.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block" src="/Image/Cover/bg1.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block" src="/Image/Cover/bg3.jpg">
                </div>
            </div>
            <a class="carousel-control-prev" href="#MainCarouse" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#MainCarouse" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="one-ad-fixedad">
            <a style="background-image: url(/Image/Main/img-fixedad1.png)"></a>
            <a style="background-image: url(/Image/Main/img-fixedad2.png)"></a>
            <a style="background-image: url(/Image/Main/img-fixedad3.png)"></a>
        </div>
    </div>
    <!--广告区2-->
    <div class="one-ad2" style="border: #d0d5d8 solid 1px">
        <a style="background-image: url(/Image/Main/img-ad2-fixedad1.jpeg)"></a>
        <a style="background-image: url(/Image/Main/img-ad2-fixedad2.jpeg)"></a>
        <a style="background-image: url(/Image/Main/img-ad2-fixedad3.jpg)"></a>
    </div>
</div>
<!--部分二：活动-->
<div class="container two-wrap container-lowlg-width-p100 container-lowlg-nop mt-3 mt-md-5">
    <nav class="nav nav-tabs row justify-content-center text-center" role="tablist">
        <a id="Tab-SaleTabNow" class="nav-item nav-link col-5 col-sm-3 active" href="#SaleTabNow" data-toggle="tab" role="tab" aria-controls="SaleTabNow" aria-expanded="true">限时疯抢</a>
        <a id="Tab-SaleTabPre" class="nav-item nav-link col-5 col-sm-3" href="#SaleTabPre" data-toggle="tab" role="tab" aria-controls="SaleTabPre" aria-expanded="false">活动预告</a>
    </nav>
    <div class="tab-content">
        <div id="SaleTabNow" class="tab-pane row no-gutters fade show active" aria-labelledby="Tab-SaleTabNow" aria-expanded="true">
            <div class="col-6 col-sm-4 col-md-3 pb-1 pr-1 pl-1 p-sm-0">
                <div class="card">
                    <img class="card-img-top w-100" src="/Image/Main/img-sales1.jpeg" alt="Card image cap">
                    <div class="card-block">
                        <div class="card-title text-oneline-overhidden">玛丽黛佳</div>
                        <p class="card-text card-text-description">Some quick example text to build on the card title and make up the bulk of the card's content.</>
                        <p class="card-text"><span class="money-cancel mr-auto">￥100</span><span>100人已购</span></p>
                    </div>
                    <div class="now-pay">￥99</div>
                    <div class="card-btn-group">
                        <a class="join-shopcar btn btn-outline-secondary">加入购物车</a>
                        <a class="check-detail btn btn-outline-secondary">查看详情</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pb-1 pr-1 pl-1 p-sm-0">
                <div class="card">
                    <img class="card-img-top w-100" src="/Image/Main/img-sales2.jpeg" alt="Card image cap">
                    <div class="card-block">
                        <div class="card-title text-oneline-overhidden">玛丽黛佳</div>
                        <p class="card-text card-text-description">Some quick example text to build on the card title and make up the bulk of the card's content.</>
                        <p class="card-text"><span class="money-cancel mr-auto">￥100</span><span>100人已购</span></p>
                    </div>
                    <div class="now-pay">￥99</div>
                    <div class="card-btn-group">
                        <a class="join-shopcar btn btn-outline-secondary">加入购物车</a>
                        <a class="check-detail btn btn-outline-secondary">查看详情</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pb-1 pr-1 pl-1 p-sm-0">
                <div class="card">
                    <img class="card-img-top w-100" src="/Image/Main/img-sales3.jpg" alt="Card image cap">
                    <div class="card-block">
                        <div class="card-title text-oneline-overhidden">玛丽黛佳</div>
                        <p class="card-text card-text-description">Some quick example text to build on the card title and make up the bulk of the card's content.</>
                        <p class="card-text"><span class="money-cancel mr-auto">￥100</span><span>100人已购</span></p>
                    </div>
                    <div class="now-pay">￥99</div>
                    <div class="card-btn-group">
                        <a class="join-shopcar btn btn-outline-secondary">加入购物车</a>
                        <a class="check-detail btn btn-outline-secondary">查看详情</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pb-1 pr-1 pl-1 p-sm-0">
                <div class="card">
                    <img class="card-img-top w-100" src="/Image/Main/img-sales4.jpg" alt="Card image cap">
                    <div class="card-block">
                        <div class="card-title text-oneline-overhidden">玛丽黛佳</div>
                        <p class="card-text card-text-description">Some quick example text to build on the card title and make up the bulk of the card's content.</>
                        <p class="card-text"><span class="money-cancel mr-auto">￥100</span><span>100人已购</span></p>
                    </div>
                    <div class="now-pay">￥99</div>
                    <div class="card-btn-group">
                        <a class="join-shopcar btn btn-outline-secondary">加入购物车</a>
                        <a class="check-detail btn btn-outline-secondary">查看详情</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="SaleTabPre" class="tab-pane row no-gutters fade" aria-labelledby="Tab-SaleTabPre" aria-expanded="false">
            <div class="col-6 col-sm-4 col-md-3 pb-1 pr-1 pl-1 p-sm-0">
                <div class="card">
                    <img class="card-img-top w-100" src="/Image/Main/img-sales5.jpg" alt="Card image cap">
                    <div class="card-block">
                        <div class="card-title text-oneline-overhidden">玛丽黛佳</div>
                        <p class="card-text card-text-description">Some quick example text to build on the card title and make up the bulk of the card's content.</>
                        <p class="card-text"><span class="money-cancel mr-auto">￥100</span><span>100人已购</span></p>
                    </div>
                    <div class="now-pay">￥99</div>
                    <div class="card-btn-group">
                        <a class="join-shopcar btn btn-outline-secondary">加入购物车</a>
                        <a class="check-detail btn btn-outline-secondary">查看详情</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pb-1 pr-1 pl-1 p-sm-0">
                <div class="card">
                    <img class="card-img-top w-100" src="/Image/Main/img-sales6.jpg" alt="Card image cap">
                    <div class="card-block">
                        <div class="card-title text-oneline-overhidden">玛丽黛佳</div>
                        <p class="card-text card-text-description">Some quick example text to build on the card title and make up the bulk of the card's content.</>
                        <p class="card-text"><span class="money-cancel mr-auto">￥100</span><span>100人已购</span></p>
                    </div>
                    <div class="now-pay">￥99</div>
                    <div class="card-btn-group">
                        <a class="join-shopcar btn btn-outline-secondary">加入购物车</a>
                        <a class="check-detail btn btn-outline-secondary">查看详情</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pb-1 pr-1 pl-1 p-sm-0">
                <div class="card">
                    <img class="card-img-top w-100" src="/Image/Main/img-sales7.jpg" alt="Card image cap">
                    <div class="card-block">
                        <div class="card-title text-oneline-overhidden">玛丽黛佳</div>
                        <p class="card-text card-text-description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text"><span class="money-cancel mr-auto">￥100</span><span>100人已购</span></p>
                    </div>
                    <div class="now-pay">￥99</div>
                    <div class="card-btn-group">
                        <a class="join-shopcar btn btn-outline-secondary">加入购物车</a>
                        <a class="check-detail btn btn-outline-secondary">查看详情</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-3 pb-1 pr-1 pl-1 p-sm-0">
                <div class="card">
                    <img class="card-img-top w-100" src="/Image/Main/img-sales8.jpg" alt="Card image cap">
                    <div class="card-block">
                        <div class="card-title card-text-description">玛丽黛佳</div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</>
                        <p class="card-text"><span class="money-cancel mr-auto">￥100</span><span>100人已购</span></p>
                    </div>
                    <div class="now-pay">￥99</div>
                    <div class="card-btn-group">
                        <a class="join-shopcar btn btn-outline-secondary">加入购物车</a>
                        <a class="check-detail btn btn-outline-secondary">查看详情</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--部分三：热销-->
<div class="container three-wrap container-lowlg-width-p100 container-lowlg-nop mt-3 mt-md-5">
    <div class="card">
        <div class="card-header my-title-12">
            热销商品
        </div>
        <div class="card-block row no-gutters p-0">
            @foreach (T_Base_ShopProduct item in listShopProduct)
            {
                <div class="hot-product-card card col-6 col-sm-4 col-md-3 p-0 radius-0 border-0" data-id="@item.ID">         
                    <img class="card-img-top w-100 radius-0" src="@item.PicList[0].Path" alt="Card image cap">
                    <div class="card-block">
                        <div class="card-title text-oneline-overhidden">@item.OrProduct.Name</div>
                        <p class="card-text card-text-description text-oneline-overhidden">@item.OrProduct.Description</p>
                        <p class="card-text text-oneline-overhidden"><span class="mr-auto hot-money">￥@item.Price</span><span class="my-smaller-font">@item.MonthlySale 人已购</span></p>
                    </div>
                    <div class="card-btn-group">
                        <div class="join-shopcar btn btn-outline-secondary">加入购物车</div>
                        <a href="/Shop/Shop/Detail?shopId=@item.ShopID&productId=@item.ProductID&size=@item.Size&color=@item.Color" class="check-detail btn btn-outline-secondary">查看详情</a>
                    </div>
                    <img src="/Icon/Main/HOT.png" class="hot-icon" />
                </div>
            }
        </div>
    </div>
</div>
